
/* ---------------------- habitlist style ---------------------- */

.habit-list-container {
    margin: 0;
    padding: 0;
}

.habit-item {
    padding: 8px;
    margin: 4px 0;
    border: 1px solid var(--background-modifier-border);
    border-radius: 4px;
    background-color: var(--background-primary);
}

.habit-info {
    flex: 1;
    cursor: pointer;
}

.habit-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.habit-description {
    font-size: 0.85em;
    color: var(--text-muted);
    margin: 4px 0;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    max-height: 4.2em;
}

.habit-actions {
    margin-left: 10px;
}
